body{
    overflow-x: hidden;
}
#welcome-section {
    margin: -5px 0 0 -10px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(73, 72, 72);
    color: rgb(10, 210, 245);
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-shadow:3px 2px rgb(13, 39, 43), 2px 3px rgb(13, 39, 43);
}

#welcome-section h3 {
    margin-top: -5%;
    color: aliceblue;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

#projects {
    margin-top: -55px;
    margin-left: -8px;
    margin-bottom: -10px;
    height: 130vh;
    width: 100vw;
    display: block;
    background-color: rgb(5, 164, 192);
    color: rgb(255, 255, 255);
    font-size: 70px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#projects-container {
    display: grid;
    margin: auto;
    width: 70%;
    height: 70%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px 30px;
}

#Projects-title {
    font-size: 55px;
    padding-top: 4%;
    text-decoration: underline 3px;
    text-shadow: 2px 1px rgb(24, 38, 41);
    
    
}

.project-tile {
    background-color: rgb(49, 48, 48);
    display:flex;
    flex-direction: column;
    border: 1px black solid;
   
}
.image-desc{
    font-size: 26px;
    padding: 0%;
    margin: auto;
    resize: none;
    
}

.grid-image {
   height:80%;
    width: 100%;
}
.project-tile:hover{
    cursor:pointer;
    color:orange;
}
#navbar{
    position:fixed;
    width: 100vw;
    height: 5vh;
    margin-left:-0.4vw;
    background-color:rgb(10, 210, 245);
    color: black;
    overflow: hidden;
   
}
.nav-link{
    text-decoration: none;
    color: rgb(49, 48, 48);
    float:right;
    text-align: center;
    padding: 14px 16px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-right: 3%;
}
.nav-link:hover{
    text-decoration: underline;
    background-color:rgb(73, 72, 72);
    color: white;
}
html{
    scroll-behavior:smooth;
}
#contact-me{
    margin: -10px 0 -10px -10px;
    height: 101vh;
    width: 100vw;
    background-color: rgb(73, 72, 72);
    
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    
}
.contact-link{
    text-decoration: none;
    padding: 14px 16px; 
    color: rgb(10, 210, 245);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
#email-link{
    text-decoration: none;
    color:rgb(10, 210, 245);
}

@media(max-height: 200px){
    #navbar{
        height: 50px;
    }
}