.header{
	padding : 15px;
	display: flex;

}
.title{
	text-align: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 32px;
	background-color: blueviolet;
}
p.description{
	font-size: 14px;
}
p.Name{
	
	font-size: 14px;
	color: rgb(1, 253, 241);
	
}

body{
	background-color: #0f0f0f;
	
}

.hlist{
	display : inline;
	padding : 20px;
	
}
a{
	color :hotpink;
	padding: 5px;
}
p,h2{
	 color: rgb(228, 228, 228);
	 text-align: center;
}

.bodyContent{
	font-family: arial;
	font-size: 30px;
	margin: 25px;
	outline: dashed 1px rgb(255, 255, 255);
	/* Center vertically */
	display: flex;
	align-items: center;
	justify-content: center;
}
.aboutMe{
	text-align: center;
}

div.content{
	width: 800px;
	justify-content: center;
	margin: auto;
    text-align: center;
	border-style:  solid;
	border-width: thick;
	border-color: blueviolet;
	margin-bottom: 20px;

}
#container{
	width:  550px;
    height: 300px; 
	padding: 10px;
	border-width:  3px;
	margin: auto;
	text-align: center;
    font-size: 18px; 
    font-family: Arial, Helvetica, sans-serif ;
}
.subTitle{
	font-size: 18px;
	font-family: serif;
	
}
label{
	color:aliceblue;
	margin: auto;
}
input{
	margin:9px;
}





