.header{
	padding : 15px;
	display: flex;

}
p.description{
	font-size: 14px;
}
p.Name{
	
	font-size: 14px;
	color: rgb(1, 253, 241);
	
}

body{
	background-color: #0f0f0f;
	
}


.hlist{
	display : inline;
	padding : 20px;
	
}
a{
	color :hotpink;
}
p,h2{
	 color: rgb(255, 255, 255);
}

.bodyContent{
	font-family: arial;
	font-size: 30px;
	margin: 25px;

	
	
	outline: dashed 1px rgb(255, 255, 255);
	/* Center vertically */
	display: flex;
	align-items: center;
	justify-content: center;
}
.introduction{
	text-align: center;
}



